torch==2.3.0
albumentations==0.4.6
resnest==0.0.6b20200823
geffnet==0.9.8
tqdm==4.31.1
Pillow==10.3.0
pandas==2.2.2
scikit-learn==1.4.2
pretrainedmodels==0.7.4
apex==0.9.8dev.linux-i686
-e git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git#egg=warmup_scheduler